<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GithHub Explorer</title>

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
   href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
   rel="stylesheet"
  />
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("https://github.githubassets.com/images/modules/explore/social.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 100%;
   
}
.search-container{
    position: relative;
    width: 550px;
    height: 50px;
    background-color: #fff;
    /* margin-bottom: 30px; */
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;  
    box-shadow: 0 3px 10px gray;
}
#input{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 5px 160px 5px 15px;
    box-sizing: border-box;
}
#search{
    width: 160px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color : white;
    cursor: pointer;
    text-transform: uppercase;
}
.profile-card{
  
    width: 500px;
    background-color: rgba(255,255,255,0.6);
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 0 3px 10px gray;
    font-family: 'Lobster Two', cursive;
}
.main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid gray;
}
#prof-img{
    height: 70px;
    width: auto;
    border-radius: 50%;
    margin: 10px 0;
    box-shadow: 0 3px 10px gray;
}
.name{
    margin-top: 15px;
    font-size: 25px;
}
#username{
    font-size: 20px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 8px;
}
a{
    text-decoration: none;
}
.bio{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 23px;
}
#bio{
   font-weight: bold;
   color: rgb(28, 99, 109);
}
p{
    margin-top: 12px;
}
.follow{
    width: 100%;
    display: flex;
    height: 60px;
    border-top: 1px solid grey ;
    font-size: 20px;
}
.follow div{
    width: 50%;
    text-align: center;
    padding-top: 15px;
}
.followers{
    border-right: 1px solid grey;
}
@media screen  and (max-width: 600px){      
    .profile-card{
        width: 450px;
        margin: 0 45px;
        margin-top: 30px;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 15px;
        box-shadow: 0 3px 10px gray;
        font-family: 'Lobster Two', cursive;
    }
}
    </style>
 </head>
 <body>
  <div class="container">
   <div class="search-container">
    <input
     type="text"
     name=""
     id="input"
     placeholder="Enter Github UserName"
     class=""
    />
    <div id="search" onclick="getUser()">Search User</div>
   </div>

   <div class="profile-card">
    <div class="main-info">
     <img src="github-logo.png" alt="avatar" id="prof-img" />
     <span class="name" id="name">Name</span>
     <a href="" id="username">User_Name</a>
    </div>
    <div class="bio">
     <p id="bio">Bio</p>
     <p><span id="repo">r</span>Respositries</p>
    </div>
    <div class="follow">
     <div class="followers">
      <span class="no" id="followers">m</span>
      Followers
     </div>
     <div class="following">
      <span class="no" id="following">n</span>
      Following
     </div>
    </div>
   </div>
  </div>

  <script >
    let input_user = document.querySelector("#input");
const userImg = document.querySelector(".main-info");
// const name = document.querySelector("#name");
// const userName =document.querySelector("#username");
const bio = document.querySelector("#bio")
const repos = document.querySelector("#repo");
const followers = document.querySelector("#followers");
const following = document.querySelector("#following");
const fetchUser = (user_name) => {
	fetch(`https://api.github.com/users/${user_name}`)
		.then((data) => data.json())
		.then((jsonData) => {
			if (jsonData.message == "Not found") {
				alert("User Not Found");
				return;
				// console.log("Error" + jsonData.message);
			} else {
				userImg.innerHTML = `
            <img src="${jsonData.avatar_url}" alt="avatar" id="prof-img">
            <span class="name" id="name">${jsonData.name}</span>
            <a href="${jsonData.html_url}" id="username">@${jsonData.login}</a>
            `;
				bio.innerHTML = jsonData.bio;
				repos.innerHTML = jsonData.public_repos;
				followers.innerHTML = jsonData.followers;
				following.innerHTML = jsonData.following;
			}
		})
		.catch((err) => {
			console.log("Catch" + err.message);
		});
}
const getUser = () => {
	let user_name = input_user.value.trim();
	//  trim will replace before and after spaces
	if (user_name.length == 0) {
		alert("Please enter a valid github username");
	} else {
		fetchUser(user_name)
	}
	input_user.value = " ";
}
  </script>
 </body>
</html>
