<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Try Again</title>
    <style>
        .btn:hover {background: #eee;}
        .Signup {color:black;}
        .Login {color: black;}
        .btn {
          border: none;
          background-color: blanchedalmond;
          padding: 14px 28px;
          font-size: 30px;
          cursor: pointer;
          display: inline-block;
        }
        body{
          background-image: url("https://cdn.windowsreport.com/wp-content/uploads/2020/04/Login-Error.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
        }
    </style>
</head>
<body style="color:crimson; font-size: 35px; background-color: bisque; font:italic;">
  <p align="center">INCORRECT  PASSWORD  OR  USERNAME <br>PLEASE  TRY  AGAIN</p> 
  <div align="center">
  <a href="http://localhost:3000/login" id="login"><button class="btn Login">Login</button></a> OR
  <a href="http://localhost:3000/signup" id="signup"><button class="btn Signup">Signup</button></a>
  </div>
  
</body>
</html>
